body {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  overflow: hidden;
  background: black;
}

#editor {
  bottom: 0;
  left: 0;
  margin-right: 310px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#editor div input {
  float: left;
  display: inline-block;
}

#code {
  margin: 0;
  position: absolute;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}

#refreshbutton {
  margin: 5px;
}

#display {
  margin-right: 5px;
  position: absolute;
  right: 0;
  display: inline-block;
}

#display span {
  clear: both;
  display: inline-block;
}

canvas {
  background: #424242;
}

.noneditable {
  position: absolute;
  background: rgba(255,10,10,0.25);
  z-index: 20;
}